body{
    margin: 0;
    width: 100%;
}

.app {
    width: 100%;
    height: 100%;
}

.header{
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 100px;
    background: lightgray;
    display: flex;
    & > .text {
        &-color {
            flex: 1;
            min-width: 100px;
            max-width: 100px;
            min-height: 70px;
            max-height: 70px;
            background: black;
            margin: 15px 70px 0 30%;
        }
        &-template{
            font-size: 20px;
            font-weight: bold;
            margin-top: 38px;
        }
    }
}

.body{
    width: 100%;
    height: 100%;
}